@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}


h1,
h2,
h3 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 1.7em;
    margin-bottom: 0.4em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.spacing-table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}


.spacing-table td,
th {
    /* top, right, bottom, left */
    padding: 2px 15px 3px 5px;
    line-height: 24px;
    font-size: 16spx;
}

td {
    border-right: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
}

.grid-container {
    display: grid;
    justify-content: center;
    padding: 20px;
}

.table-container {
    margin-top: 10px;
    width: 100%;
    overflow: auto;
    max-width: 100vw;
    display: table;
    box-sizing: border-box;
    background-color: white;
}

.conteiner-text {
    text-align: center;
}

.additional-text {
    display: inline-block;
    width: max-content;
    text-align: left;
    padding: 0 20px;
    width: 100%;
}

.table-row {
    color: #fff;
    background-color: #333;
    font-weight: bold;
    border-top: solid 1px #dfdfdf;
}

.alternating-row {
    background: white;
    color: black;
}

.alternating-row:nth-child(odd) {
    background: #EEE;
    color: black;
}

.table-clickable:hover {
    background-color: rgba(0, 26, 255, 0.1);
    cursor: pointer;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
    .grid-container {
        padding: 10px;
    }

    .table-container {
        overflow-x: auto;
        margin-top: 10px;
    }

    .additional-text {
        padding: 0 10px;
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {

    .spacing-table td,
    .spacing-table th {
        padding: 5px;
        /* Adjust the padding for smaller screens */
        font-size: 14px;
        /* Decrease font size for smaller screens */
    }

    .additional-text {
        padding: 0 5px;
        /* Adjust the padding as needed */
    }

    .table-container {
        overflow-x: auto;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .table-container table {
        margin-top: 10px;
        width: 100%;
    }
}