.home-table-container {
  margin-bottom: 20px;
  text-align: center;
}

.table-header {
  font-size: 120%;
  padding: 10px 0;
  border-radius: 20px;
  color: #fff;
  background: #333;
  font-weight: bold;
}

.table-cell {
  font-size: 110%;
  padding: 5px 0;
  border: none !important;
}

.table-cell a,
.table-cell a:link,
.table-cell a:visited,
.table-cell:active,
a:hover {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  gap: 100px;
}

.flexed-column {
  flex: 1 0 auto;
  align-items: center;
  align-content: space-evenly;
}

.flexed-column > table {
  width: 100%;
}

.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 900px;
  margin: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .center-vertically {
    height: auto;
    padding: 20px 0;
    width: 100%;
  }
  
  .table-header {
    font-size: 110%;
    border-radius: 15px;
  }

  .table-cell {
    font-size: 100%;
    padding: 3px 0;
  }
}