/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: white !important;
    margin: 0 10px;
    font-weight: normal !important;
}

a.active {
    font-weight: bold !important;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        position: static;
    }
    .navbar a {
        margin: 5px;
    }

} */


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: white !important;
    margin: 0 10px;
    font-weight: normal !important;
}

a.active {
    font-weight: bold !important;
    text-decoration: underline;
}

.mobile-nav-toggle {
    display: none;
    background-color: #333;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
        flex-direction: column;
        text-align: center;
        position: static;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #333;
        color: white;
        padding: 10px;
    }

    .mobile-nav a {
        margin: 5px;
        text-decoration: none;
        color: white !important;
        font-weight: normal !important;
    }

    .mobile-nav a.active {
        font-weight: bold !important;
        text-decoration: underline;
    }

    .mobile-nav-toggle {
        display: block;
        width: 100%;
    }
}