.page-container {
    min-height: 100%;
}

.vampire-style {
    /* #592227 o #CB1A21 */
    background-color: #592227;
    color: #D7D9D8;
}

.vampire-style a {
    font-weight: 600;
    color: #D7D9D8;
}

.mage-style {
    background-color: #1C6668;
    color: #E2E674;
}

.mage-style a {
    color: #E2E674;
    font-weight: 600;
}

.mortals-style {
    background-color: #2E3746;
    color: #C6D9DF;
}

.mortals-style a {
    color: #C6D9DF;
    font-weight: 600;
}

.promethean-style {
    background-color: #D8DEEB;
    color: #1B295F;
}

.promethean-style a {
    font-weight: 600;
    color: #1B295F;
}

.changeling-style {
    /* #2E5D21 o #355030 */
    background-color: #355030;
    color: #FFFFFF;
}

.changeling-style a {
    font-weight: 600;
    color: #FFFFFF;
}

.werewolf-style {
    /* #501E06 o #7D361A */
    background-color: #7D361A;
    color: #BDBEBE;
}

.werewolf-style a {
    font-weight: 600;
    color: #BDBEBE;
}